.channel {
    cursor: pointer;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 14px;
    transition: 0.15s;
    border-radius: 10px;
    width: 100%;
}

.channel:hover {
    background: #1e293b;
}

.channelAvatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid #1f2937;
}


.channelName {
    color: #e5e7eb;
    font-size: 1.1rem;
    padding-left: 10px;
}

.channelTitle span {
    font-size: 0.8rem;
    color: #94a3b8;
}