
.channel {
    user-select: none;
    cursor: pointer;
    width: 100%;
    min-height: 100px;
    text-align: center;
    transition: all 0.2s;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.channel:hover {
    background-color: rgb(24, 24, 24);
}

.channelAvatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 3px solid rgb(56, 56, 56);
}

.channelTitle {
    font-weight: 100;
    max-height: 0;
    opacity: 0;
    padding-bottom: 10px;
    transition: opacity 0.2s, max-height 0.2s;
}