.channelBlock {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: pulse-bg 10s infinite alternate;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.channelTitle {
    font-weight: 900;
    font-size: 2rem;
}

@keyframes pulse-bg {
  0% {
    background-color: #000000;
    color: white;
    padding: 50px;
  } 

  50% {
    background-color: #161616;
    padding: 1000px;
  }

  100% {
    background-color: #000000;
    padding: 50px;
    color: white;
  }
}

.channelAvatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.join {
    padding: 5px;
    background-color: #000000;
    margin-top: 30px;
}