.contextMenu {
    position: fixed;
    border: 1px solid rgb(20,20,20);
    background-color: rgb(10,10,10);
    border-radius: 20px;
    z-index: 9999999;
    cursor: default;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 400px;
}