.contextMenuItem {
    cursor: pointer;
    background-color: rgb(20,20,20);
    border-bottom: 1px solid rgb(90,90,90);
    width: 100%;
    padding: 10px 10px 10px 10px;
    transition: all 0.2s;
    position: relative;
    display: flex;
    align-items: center;
}

.contextMenuItem:hover {
    background-color: rgb(30,30,30);
}

.contextMenuItem span {
    margin-left: 20px;
}

.contextMenuItem img {
    margin-left: 25px;
}