.header {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid rgb(90, 90, 90);
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 120px;
  z-index: 99999;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.search {
  padding: 10px;
  font-size: 100%;
  width: 70%;
  background-color: rgb(30,30,30);
  transition: all 0.2s;
}

.search:focus {
    border-bottom: 2px solid var(--def);
}

.header svg {
    margin-left: 20px;
}

.headerChannelName {
  font-size: 1.3rem;
}

.headerChannelName span {
  font-size: 1rem;
}

.headerChannelAvatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 20px;
}

.headerContainer span {
  color: rgb(194, 194, 194);
}
