.createNewChannel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 1px solid rgb(50, 50, 50);
  padding: 20px;
  z-index: 9999;
}

.createNewChannel input {
  outline: none;
  padding: 10px;
  background-color: rgb(10, 10, 10);
  width: 90%;
  font-size: 100%;
}

.createNewChannel button {
  cursor: pointer;
  padding: 20px;
  border: 1px solid rgb(50, 50, 50);
  transition: all 0.2s;
  background-color: black;
  width: 90%;
}

.createNewChannel button:hover {
  color: black;
  background-color: white;
}

.closeCreateNewChannel {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 32px;
  height: 32px;
}