.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 100%;
    border: 1px solid rgb(30, 30, 30);
    display: flex;
    flex-direction: row;
    padding: 50px;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.profile .avatar {
    width: 164px;
    height: 164px;
    border-radius: 50%;
    border: 5px solid rgb(50,50,50);
    display: flex;
    flex-direction: column;
}

.avatar img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.profile .dataChange {
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.7;
}

.profile .dataChange img {
    transition: all 0.5s;
    width: 100%;
    height: 100%;
}

.profile .dataChange img:hover {
    transform: rotate(145deg);
    opacity: 1;
}


.profile .bio {
    font-size: 1.1rem;
    font-weight: 100;
    color: rgb(100, 100, 100);
}

.profile .username {
    max-width: 164px;
    max-height: 164px;
    padding: 30px;
    background-color: white;
    color: black;
    font-weight: 900;
    height: 100%;
}

.bio {
    text-align: center;
    max-width: 164px;
    word-wrap: break-word;
}


.settings {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 60%;
    background-color: rgba(0,0,0, 0.7);
    transition: cubic-bezier(1, 0, 0, 1) 0.1s;
    display: none;
}


.closeSettings {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    transition: all 0.2s;
    opacity: 0.7;
    z-index: 122;
}

.closeSettings:hover {
    opacity: 1;
}


.options {
    left: 0px;
    width: 100px;
    height: 100%;
    border: 1px solid rgb(100, 100, 100);
}

.options .option {
    width: 100%;
    background-color: black;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(100,100,100);
    font-size: 100%;
}

.values {
    position: relative;
    width: 100%;
    z-index: -2;
    padding: 20px;
}

.values .confirmButton {
    background-color: rgb(35 134 54);
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    border: 1px solid rgb(150,150,150);
}

.valuesContainer {
    display: flex;
    flex-direction: column;
}

.values input {
    background-color: rgb(30,30,30);
    font-size: 100%;
    padding: 10px;
    transition: all, 0.2s;
}

.values input:focus {
    border-bottom: 1px solid rgb(255, 255, 255);
}


.addFriend {
    cursor: pointer;
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}