.sending {
  position: fixed;
  width: 100%;
  height: 60px;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-top: 1px solid rgb(40,40,40);
}

.sending .messageInput {
  width: 90%;
  height: 100%;
  outline: none;
  font-size: 100%;
  padding-left: 80px;
  background-color: rgb(15, 15, 15);
  color: white;
}

.sending button {
  cursor: pointer;
  outline: none;
  border: none;
  width: 10%;
  height: 100%;
  background-color: rgb(15, 15, 15);
  color: white;
}

.imageInput {
  display: none;
}

.imageInputLabel {
  width: 10%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageInputLabel svg {
  width: 32px;
  height: 32px;
}