.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 75px;
  min-width: 75px;
  max-width: 400px;
  height: 100vh;
  background-color: rgba(0,0,0,1);
  border-right: 1px solid rgb(53,53,53);
  z-index: 999;
  padding-top: 100px;
  overflow: hidden;
  user-select: none;
}

.channel {
user-select: none;
  cursor: pointer;
  width: 100%;
  min-height: 100px;
  border-bottom: 1px solid rgb(70,70,70);
  text-align: center;
  transition: all 0.2s;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.channel:hover {
    background-color: rgb(24, 24, 24);
}

.channelAvatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.channelTitle {
  font-weight: 100;
  max-height: 0;
  opacity: 0;
  padding-bottom: 10px;
  transition: opacity 0.2s, max-height 0.2s;
}

.sideBar.open .channelTitle {
  opacity: 1;
  max-height: 40px;
}

.sideBar-handle {
  width: 6px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: ew-resize;
  background: transparent;
}

.channelName {
    left: 5px;
    position: fixed;
}