@charset "UTF-8";

html, body {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--el-bg);
    color-scheme: dark;
}

:root {
    --el-bg: rgb(5,5,5)
}

* {
    font-weight: 300;
    margin: none;
    font-family: "Geist", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;;
}

a {
    color: rgb(82, 137, 255);
}

button {
    font-size: 100%;
    cursor: pointer;
    padding: 5px;
    border: none;
    outline: none;
}

input {
    border: none;
    outline: none;
}

.alertBar {
    position: fixed;
    width: 100%;
    height: 75px;
    top: -75px;
    background-color: black;
    border: 1px solid rgb(40,40,40);
    transition: all 0.2s;
    z-index: 9999;
    text-align: center;
}
