html, body {
  overflow: hidden;
}

.page {
  min-height: 100vh;
}

.container {
  display: flex;
  position: relative;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.2s;
}

.newChat {
  cursor: pointer;
  position: fixed;
  width: 48px;
  height: 48px;
  top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 10px;
  transition: all 0.2s;
  border-radius: 50%;
}

.newChat:hover {
  background-color: rgb(30,30,30);
}

.newChat img {
  width: 100%;
  height: 100%;
}