html, body {
  overflow: hidden;
}

.page {
  min-height: 100vh;
}

.container {
  display: flex;
  position: relative;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.2s;
}

.newChat {
  cursor: pointer;
  position: fixed;
  width: 64px;
  left: 102px;
  top: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 75px;
  z-index: 1000;
}